@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

ol,
ul {
    padding-left: 0;
}


/*BODY*/

body{
    background-attachment: fixed;
    background-repeat: repeat;
    height:100%;
    position: relative;
    background-color: white;
    background-position: center;
}

html {
    height: 100%;
}

/*HEADER*/


.navbar-nav .show>.nav-link {
    color: red;
}

.nav-link:hover {
    color: red;
    transition: 0.6s ease;
    transform: scale(1.2);
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: rgba(132, 0, 255, 0.432);
}

.dropdown-item:hover {
    color: red;
    transition: 0.5s ease;
}

.navbar-brand{
    cursor: pointer;
    display: flex;
}

.navbar-brand img{
    height: 70px;
    width: auto;
    transition: all 0.6s;
}

.navbar-brand img:hover{
    transform: scale(1.2);
}

/*
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

.nav-links li{
    display: inline-block;
    padding: 0 10px;
    display: flex;
    padding-left: 8%;
}
.nav-links li:hover{
    transform: scale(1.1);
}

.nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none; 
}
.nav-links li a:hover{
    color: #c8102e;
} */

/*MAIN*/

section {
    display: flex;
    width:auto;
    height: 430px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    justify-content:baseline;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/*FOOTER*/

footer{
    position: relative;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: black;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.8rem;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 3rem;
    display: flex;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    margin-right: 40px;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: black;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #c8102e;
}

.footer-bottom{
    background: gray;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    align-self: flex-end;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    margin-left: 10px;
    color: red;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;
    }
    }